@model Planning.Client.MVCApp.Views.Todo.DetailsModel

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Todos</h2>

@using (Html.BeginForm())
{

    @Html.HiddenFor(m => m.Id);

    @Html.LabelFor(m => Model.Title);
    @Html.EditorFor(m => m.Title)

    @Html.LabelFor(m => Model.Description);
    @Html.EditorFor(m => m.Description)

    @Html.LabelFor(m => Model.Done);
    @Html.EditorFor(m => m.Done);

    <input type="submit" value="Update"/>
}